<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>

    <!-- Header -->
    <header th:insert="view/elements/header.html :: header-Fragment"></header>

    <div class="w3-container w3-center">
        <h2>Create new user</h2>
    </div>

    <form class="w3-container w3-display-middle" action="/userProfile/add" method="post">
            <table align="center" class="w3-table">
                <tr>
                    <td>User Name</td>
                    <td><input type="text" class="w3-input w3-border w3-round" name="userName" size="30" maxlength="30"  placeholder="last name and first name"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" class="w3-input w3-border w3-round" name="email" size="30" maxlength="30" placeholder="email"></td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td><input type="text" class="w3-input w3-border w3-round" name="login" size="30" maxlength="30"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input type="text" class="w3-input w3-border w3-round" name="address" size="30" maxlength="30"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" name="button" id="savebutton" class="w3-blue w3-right w3-btn w3-round-large">Save</button></td>
                </tr>
            </table>
    </form>


    <!--    Footer    -->
    <div th:insert="view/elements/footer :: footer-Fragment"></div>

</body>
</html>