<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${title}"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <script src="view/js/userPageScript.js"></script>
    </head>
</head>
<body>

<!-- Header -->
    <header th:insert="view/elements/header.html :: header-Fragment"></header>

<!--    Search form -->
    <table align="center" class="w3-panel">
        <tr>
            <td>User Name</td>
            <td><input type="text" class="w3-input w3-border w3-round" name="userName" size="20" maxlength="20"></td>
            <td>User Role</td>
            <td><input type="text" class="w3-input w3-border w3-round" name="userRole" size="20" maxlength="20"></td>
        </tr>
        <tr>
            <td>Login</td>
            <td><input type="text" class="w3-input w3-border w3-round" name="login" size="20" maxlength="20"></td>
            <td>Email</td>
            <td><input type="text" class="w3-input w3-border w3-round" name="Email" size="20" maxlength="20"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" class="w3-input w3-border w3-round" name="address" size="20" maxlength="20"></td>
            <td></td>
            <td><button type="submit" name="button" id="searchbutton" class="w3-blue w3-right w3-btn w3-round-large" value="Search" action="">Search</button></td>
        </tr>
    </table>

<!--  Table of Users -->
<div class="w3-container">
    <h3>Search Results</h3>
</div>
<div class="w3-container w3-padding8">
    <table id="stories" class="w3-table-all w3-small w3-card-4 w3-hoverable w3-striped w3-centered">
            <tr class="w3-pale-blue">
                <th></th>
                <th>User ID</th>
                <th>User Name</th>
                <th>Login</th>
                <th>Role</th>
                <th>Email</th>
                <th>action</th>
            </tr>
            <tr th:each="user : ${usersList}">
                <td><input class="w3-radio" type="radio" name="userRow" value="${user.userId}"></td>
                <td> <span th:text="${user.userId} " /> </td>
                <td> <span th:text="${user.name} " /> </td>
                <td> <span th:text="${user.login}" /> </td>
                <td> <span th:text="${user.role} " />      </td>
                <td> <span th:text="${user.email}" /> </td>
                <td>

                        <div class="w3-col w3-center" style="width:50%">
                             <a th:href="'/userProfile/' + ${user.userId}" class="w3-blue w3-btn w3-button w3-round-large"> Edit </a>
                        </div>
                        <div class="w3-col w3-center" style="width:50%">
                            <form th:action="'/user/delete/' + ${user.userId}" method="post">
                                <button type="submit" name="buttonDel" class="w3-red w3-btn w3-button w3-round-large">Delete</button>
                            </form>
                        </div>

                </td>
            </tr>
        </table>
</div>


<script>
    function setChecked() {
      var c = document.getElementsByName('userRow');
      if (!c[0].checked) c[0].checked = true;  // поставить checked на второй input, если он не установлен
    }
    setChecked();
</script>

<!-- Bottom buttons and pagination -->
    <div class="w3-row w3-padding">
        <div class="w3-col w3-center" style="width:50%">
            <table class="w3-panel w3-left">
                <tr>
                    <td>
                        <button type="submit" name="button" id="createbutton" class="w3-green w3-btn w3-button w3-round-large" onclick="location.href='user/createUser'">Create</button>
                    </td>
                    <td>
                        <a href="/userProfile" class="w3-blue w3-btn w3-button w3-round-large">Edit</a>
                    </td>
                    <td>
                        <button type="submit" name="button" id="Deletebutton" class="w3-red w3-btn w3-button w3-round-large" action="">Delete</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="w3-container w3-half">
            <div class="w3-col w3-right" style="width:50%">
                <a href="/user" class="w3-button">&#10094; Previous</a>
                <a href="/user" class="w3-button">1</a>
                <a href="/user?pageNo=1" class="w3-button">2</a>
                <a href="/user?pageNo=2" class="w3-button">3</a>
                <a href="/user" class="w3-button w3-right">Next &#10095;</a>
            </div>
        </div>
    </div>

<!--    Footer    -->
    <div th:insert="view/elements/footer :: footer-Fragment"></div>


</body>
</html>